body{
		background-color:white;
		font-family:"Fertigo", Arial;  
		}/* creating a wrapper*/
		.wrapper{
		position:relative;
		background-color:white;
		width:70%;
		right:-15%;
		margin-top:-58px;
		background-color: black;
		}
		
		.heading{
		padding-top:40px;
		margin-top:-21px;
		margin-left:0px;
		width:100%;
		height:140px;
		background-color: black;
		}
		
		.menu{
		width:100%;
		height:50px;
		background-color: #4484CE;
		}
		p{font-size:20px;}
	
		#intro{
		padding: 19px;
		margin:10px;
		}
		#nesting{
		padding: 19px;
		margin:10px;
		}
		#paraheads{
		padding: 10px;
		margin:10px;
		}
		#format{
		padding: 7px;
		margin:10px;
		padding-bottom:80px;
		}
		#design{
		text-align:center;
		}
		
		#heading{
		text-align: center;
		}
		h1,h2,p,a{
		color:white;
		padding-left:1%;
		padding-right:1%;
		}
		hr{
		background-color: #4484CE;
		position:relative;
		height:10px;
		}
		img{
		width:80%;	
		}
		#img1{
		margin-left:2%;
		margin-right:2%;
		
		}
		#img2{
		margin-left:2%;
		margin-right:2%;
		}
		#img3{
		margin-left:2%;
		margin-right:2%;
		}
		#img4{
		margin-left:2%;
		margin-right:2%;
		}
		#img5{
		margin-left:2%;
		margin-right:2%
		}
		#img6{
		margin-left:2%;
		margin-right:2%;	
		}
		
		/* creating a dropdown menu*/
	.dropbtn {
    background-color: #4484CE ;
    color: white;
    padding: 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;}
	
	.homebtn {
	text-decoration: none;
	margin-left:10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
	}


	.dropdown {
    position: relative;
    display: inline-block;}

	.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

	.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
    display: block;}

	.dropdown:hover 
	
	.dropbtn {
	border: solid #FFFFFF 2px ;
    background-color: black;}
	/* making the page responsive*/
	@media only screen and (max-width: 760px) {
		h1{
		font-size:18px;
		}
	
		h2,h3,h4,p{
		font-size:16px;	
		}
		p{
		font-size:14px;
		}
		img{
		margin-left:auto;
		margin-right:auto;
		}
		
		}
	